/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/CONTRIBUTING.md export-ignore
/composer.lock export-ignore
/examples/ export-ignore
/phpstan.neon export-ignore
/psalm.xml export-ignore
